html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
}

#navContainer {
  display: flex;
  justify-content: flex-end;
  background-color: aquamarine;
  padding: 10px;
  gap: 30px;
  list-style: none;
}

.navLeft {
  padding: 10px;
  background-color: blue;
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}

#navRight {
  margin-right: auto;
}

main {
  background-color: aquamarine;
  width: 1450px;
  height: 300svh;
  margin: 40px auto;
}

#containerTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#articleOne {
  background-color: brown;
  width: 960px;
  height: 671px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sectionOne {
  background-color: green;
}

#top {
  width: 859px;
  height: 156px;
}
#bottom {
  width: 859px;
  height: 402px;
}

#articleTwo {
  background-color: red;
  width: 330px;
  height: 671px;
  margin-left: auto;
}

#articleThree {
  width: 1070px;
  height: 350px;
  background-color: beige;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}

.sectionThree {
  background-color: yellow;
  width: 462px;
  height: 113px;
}
