html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pokemonOne;
  src: url(./fonts/PKMN\ RBYGSC.ttf);
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f6f4d2;
  font-family: pokemonOne;
}

header {
  position: sticky;
  top: 0;
}

#navContainer {
  display: flex;
  justify-content: flex-end;
  background-color: #f19c79;
  padding: 10px;
  gap: 30px;
  list-style: none;
  z-index: 2;
  max-height: 60px;
  width: 100%;
}

.navLeft {
  padding: 10px;
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}

#navRight {
  margin-right: auto;
}

#logo {
  width: 3rem;
  height: 3rem;
  position: relative;
  top: -14px;
  background-color: transparent;
}

main {
  background-color: transparent;
  width: 1440px;
  height: 650svh;
  margin: auto;
}

#containerTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#articleOne {
  background-color: #f6f4d2;
  width: 960px;
  height: 671px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: -40px;
  z-index: -1;
}

.sectionOne {
  background-color: #f6f4d2;
}
#mainer {
  color: black;
  font-size: 20px;
  line-height: 25px;
}

h1 {
  font-size: 35px;
}
#top {
  width: 859px;
  height: 156px;
  margin-bottom: 100px;
}
#bottom {
  width: 859px;
  height: 190px;
}

/* #articleTwo {
  background-color: rgba(255, 0, 0, 0);
  width: 330px;
  height: 671px;
  margin-left: 100px;
  margin-top: 20px;
} */

#articleThree {
  width: 1070px;
  height: 350px;
  background-color: beige;
  margin-top: 50px;
  margin-left: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
}

.sectionThree {
  background-color: rgba(255, 255, 255, 0.793);
  width: 422px;
  height: 163px;
  border-radius: 2px;
  padding: 17px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}

.sectionThree p {
  font-size: 20px;
}

.sectionThree h1 {
  font-size: 20px;
  line-height: 0;
}

#articleFive {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 140px;
  z-index: -1;
}
.sectionFive {
  background-color: #f19c79;
  width: 1026px;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30%;
}

.sectionFive p {
  font-size: 48px;
  font-weight: 600;
}

#articleSix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  /* position: relative; */
  top: 270px;
}

.sectionSix {
  width: 400px;
  height: 400px;
  background-color: #f19c79;
  
}

#articleSeven {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 350px;
  z-index: -1;
}

.sectionSeven {
  background-color: #f19c79;
  width: 1026px;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 600;
}

#articleEight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  top: 450px;
  z-index: -1;
}

#eightLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#eightRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.sectionEight {
  background-color: #f19c79;
  width: 400px;
  height: 400px;
}

footer {
  background-color: #f19c79;
  width: 100%;
  height: 70px;
}

#berries{
  width: 400px;
  height: 400px;
}
#sosig{
  width: 400px;
  height: 400px;
}
#leek{
  width: 400px;
  height: 400px;
}