html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #F6F4D2;
}

header {
  position: sticky;
  top: 0;
}

#navContainer {
  display: flex;
  justify-content: flex-end;
  background-color: #F19C79;
  padding: 10px;
  gap: 30px;
  list-style: none;
}

.navLeft {
  padding: 10px;
  background-color: blue;
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}

#navRight {
  margin-right: auto;
}

main {
  background-color: #F6F4D2;
  width: 1450px;
  height: 300svh;
  margin: 40px auto;
}

#containerTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#articleOne {
  background-color: #F6F4D2;
  width: 960px;
  height: 671px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sectionOne {
  background-color: #F6F4D2;
}
#mainer {
  color: black;
  font-size: 20px;
}

h1 { 
  font-size: 35px;
}
#top {
  width: 859px;
  height: 156px;
}
#bottom {
  width: 859px;
  height: 190px;
}

#articleTwo {
  background-color: rgba(255, 0, 0, 0);
  width: 330px;
  height: 671px;
  margin-left: 270px;
  margin-top: 20px;
  
}

#articleThree {
  width: 1070px;
  height: 350px;
  background-color: beige;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}

.sectionThree {
  background-color: rgba(255, 255, 255, 0.793);
  width: 462px;
  height: 113px;
  border: 7px;
  border-radius: 20px;
  border-style: dotted;
  padding: 5px;
}

.sectionTwo {

}
/* .logo {

} */